/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* base styles, using foundation 6 defaults */

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
  min-height: 100%;
  vertical-align: baseline;
}

*, *::before, *::after {;
  box-sizing: inherit;
}

article,
header,
section {
  display: block;
}

img {
  border-style: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;

  height: auto;
  -ms-interpolation-mode: bicubic;
}

li {
  list-style-type: none;
  list-style-image: none;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.centered {
  margin: 0 auto;
}

code {
  display: inline-block;
  max-width: 100%;
  white-space: normal;
  word-break: break-all;
}

.visually-hidden {
  // For screen-readers.
  // https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.hidden {
  display: none;
}

.no-scroll { // for modals
  margin: 0;
  height: 100%;
  overflow: hidden
}
