// breakpoints
$narrow: 740px;
$normal: 980px;
$wide: 1220px;

// fonts
$serif: "Merriweather";
$sans-serif: Montserrat, Helvetica, Arial, sans-serif;
$open-sans: "Open Sans";
$open-sans-condensed: "Open Sans Condensed";

// colors
$eff-red: #ec1e1e;
$red: #FF0000;
$dark-red: #b80101;
$dark-blue: #254B66;
$medium-blue: #4B6A88;
$slate: #9AAFBC;
$slate-dark: #697C8A; // for emails
$light-blue: #CAD5D8;
$lightest-blue: #E5EBEC;
$bright-blue: #007EFF;
$effector-blue: #0073E6;
$newsletter-blue: #3D5D88;
$issue-blue: #007EFF;
$black: #000000;
$dark-grey: #686868;
$charcoal: #4C4C4C;
$gray: #888888;
$light-gray: #F2F5F6;
$tangerine: #F58728;
$orange: #FF641C;
