footer {
  background: $slate;
  color: $dark-blue;
  font-family: $sans-serif;
  padding-top: 4rem;
  padding-bottom: 1.5rem;

  .logo {
    display: block;
    background: url("/images/eff-logo-blue.svg") no-repeat;
    background-size: contain;
    height: 60px;
    margin-bottom: 2rem;
    span {
      @extend .visually-hidden;
    }
  }

  a {
    color: $medium-blue;
    position: relative;
    text-decoration: none;
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

    a {
      color: $dark-blue;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: .9rem;
      text-align: left;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: $narrow) {
    padding-top: 3rem;
    padding-bottom: 1rem;

    .logo {
      height: 40px;
      margin-bottom: 1rem;
    }

    ul a {
      font-size: 0.8rem;
    }
  }
}

