#badger-description {
  font-size: 1.2rem;
  line-height: 1.4em;
  max-width: 700px;
  font-family: $sans-serif;
  font-weight: 300;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#badger-download {
  margin: 20px auto 10px;
  text-align: center;
  max-width: 500px;
  border: 2px solid $orange;
  background-color: $orange;
  border-radius: 5px;
  font-family: 'Open Sans Condensed Bold';
  letter-spacing: 0.1em;
  padding: 1.1em 0.8em;
  text-transform: uppercase;
  clear: both;
  transition: background-color 0.3s ease;

  a {
    text-decoration: none;
    font-size: 1.9rem;
    color: #FFF;

    span {
      color: #000;
      font-size: 0.75em;
      font-family: 'Open Sans Condensed';
    }
  }

  &:hover {
    background-color: $tangerine;
    cursor: pointer;

    a {
      color: $orange;
      color: #FFF;
      background-color: transparent;
    }
  }

  &.not-supported {
    border-color: #A5A5A5;
    background-color: $light-gray;
    cursor: default;
    a, span {
      color: #A5A5A5;
    }
  }
}

#install-group {
  display: flex;

  img {
    display: none;
    width: 80px;
    height: 80px;
  }

  a {
    display: block;
    flex: 1;
    align-self: center;
  }

  a span {
    display: block;
  }
}

#browser-not-supported {
  margin-top: 1rem;
  text-align: center;
  max-width: 600px;
  margin: auto;

  p {
    margin-bottom: 1.6rem;
  }

  .small {
    font-size: 0.8rem;
    line-height: 1.6rem;
    max-width: 400px;
    margin: auto;
  }
}

.version {
  text-align: center;
  font-size: 0.85rem;
  font-family: $sans-serif;

  a {
    text-decoration: none;
  }
}

#android-beta-warning {
  text-align: center;
  font-style: italic;
}

.other-browsers {
  font-family: $sans-serif;
  font-size: 0.9rem;
  line-height: 1.3em;
  padding-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: 420px;
  margin: auto;

  a {
    display: block;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.3s ease;

    &:hover {
      background-color: transparent;
      opacity: 1;
    }
  }

  img {
    height: 40px;
    margin-bottom: 10px;
    opacity: 0.85;
  }
}
