#faq .anchors {
  font-family: $sans-serif;
  font-size: 1.1rem;
  line-height: 1.4rem;

  li {
    margin: 15px 0;
  }

  a {
    text-decoration: none;

    &:visited {
      color: $medium-blue;
    }
  }

  h4 {
    text-align: center;
    padding-top: 12px;
  }
}

#faq-top {
  padding-top: 1px;
}

#back-to-faq-top {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 10;
  border: 2px solid $orange;
  background-color: $orange;
  border-radius: 5px 5px 0 0;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 12.5px;
  letter-spacing: 0.8px;
  padding: 0 18px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $tangerine;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    background-color: transparent;
  }
}

#faq-body {
  a {
    word-wrap: break-word;
  }

  p {
    margin-bottom: 1.5rem;
  }

  ol, ul {
    margin: 0 2rem 1.5rem;
  }

  ol li {
    list-style-type: decimal;
  }

  ul li {
    list-style-type: disc;
  }

  h3 {
    margin-bottom: 0px;
    margin-top: 50px;
  }

  h4 {
    text-align: center;
    margin-bottom: 18px;
    margin-top: 50px;
  }
}
