$header-font-color: rgba(0, 0, 0, 0.69);

#primary-nav {
  font-family: $sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;

  .logo {
    display: block;
    background: url("/images/eff-logo-red.svg") no-repeat;
    background-size: contain;
    width: 150px;
    height: 32px;
    span {
      @extend .visually-hidden;
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
  }

  li:last-child {
    display: block;
    border: 3px solid $eff-red;
    border-radius: 3px;
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.3rem;
    text-transform: uppercase;
    min-width: 7rem;
    height: 1.7rem;
    padding: 0;
    text-align: center;

    &:hover {
      border: 3px solid rgba(236,30,30,0.8);
    }

    a {
      text-decoration: none;
      color: $eff-red;
      width: 100%;
      display: inline-block;

      &:before {
        background-color: $eff-red;
      }

      &:hover, &:active, &:focus {
        color: $eff-red;
      }

      &:hover {
        background-color: rgba(236,30,30,0.8);
        color: white;
      }
    }
  }

  @media screen and (max-width: $narrow) {
    padding-top: 15px;
    padding-bottom: 12px;
  }
}

header {
  width: 100%;
  background: url("/images/banner.png") no-repeat center;
  background-color: $tangerine;
  background-size: contain;
  position: relative;
  margin-bottom: 5px;
  height: 150px;
  @media screen and (min-width: $narrow) {
    height: 200px;
  }

  h1 {
    @extend .visually-hidden;
  }
}

#language-switcher, #language-switcher-noscript {
  font-size: 0.85rem;
  text-align: center;
  margin-bottom: 1em;

  div.select-wrapper {
    position: relative;
    display: inline-block;

    select {
      appearance: none;
      -webkit-appearance: none;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-inline-start: 0.5em;
      padding: 5px 25px 5px 10px;
    }

    &:after {
      position: absolute;
      right: 10px;
      top: 11px;
      content: ' ';
      height: 0.5em;
      width: 0.5em;
      border-bottom: 2px solid #555;
      border-right: 2px solid #555;
      transform: rotate(45deg);
      pointer-events: none;
    }
  }

  li {
    display: inline-block;
    margin-inline-end: 0.5em;

    &:after {
      margin-inline-start: 0.5em;
      content: "\2022";
    }

    &:last-child:after {
      content: none;
    }

    a {
      text-decoration: none;

      &:visited {
        color: $medium-blue;
      }
    }
  }
}
