<div id="browser-not-supported" class="hidden">
  <h3>{{ i18n "browserNotSupported" }}</h3>
  <p>
    {{ i18n "notSupportedInThisBrowser" }} (<a href="#Will-you-be-supporting-any-other-browsers-besides-Chrome-Firefox-Opera">{{ i18n "moreInfo" }}</a>).
  </p>
</div>

<div id="active-browser">
  {{ range $browser, $url := $.Site.Data.browsers }}
    <div class="active-browser {{ urlize $browser }}" style="display:none">
      <a href={{$url}}>
        <img src="/images/{{ urlize $browser }}.svg" alt="">
        <br>
        {{ i18n "installForBrowser" (dict "Browser" (i18n (print "browserName" (replace ($browser | title) " " "")))) }}
      </a>
    </div>
  {{ end }}
</div>

<div id="supported-browsers">
  {{ range $browser, $url := $.Site.Data.browsers }}
    <div class="other-browser {{ urlize $browser }}">
      <a href={{$url}}>
        <img src="/images/{{ urlize $browser }}.svg" alt="">
        <br>
        {{ i18n "installForBrowser" (dict "Browser" (i18n (print "browserName" (replace ($browser | title) " " "")))) }}
      </a>
    </div>
  {{ end }}
</div>

<div id="other-links">
  <ul>
    <li>
      <a href="#Will-you-be-supporting-any-other-browsers-besides-Chrome-Firefox-Opera">{{ i18n "otherBrowsers" }}</a>
    </li>
    <li>
      <a href="#Can-I-download-Privacy-Badger-directly-from-eff.org">{{ i18n "altInstall" }}</a>
    </li>
  </ul>
  <a href="https://github.com/EFForg/privacybadger/releases">{{ i18n "releaseNotes" (dict "Version" .Site.Params.badgerVersion) }}</a>
</div>
