<div id="faq">

  <div id="faq-top"></div>

  <h2>{{ i18n "FrequentlyAskedQuestions" }}</h2>

  {{- $pages := (where $.Site.RegularPages "Section" "faqs") }}
  {{- $pages = $pages | lang.Merge (where .Sites.First.Pages "Section" "faqs") }}
  {{- $pages := $pages | intersect (where $pages "Params.question" "!=" nil) }}

  <div class="anchors">
    <ul>
      {{ range sort $pages ".Params.weight" }}
        <li>
          <a href="#{{ .File.TranslationBaseName }}">{{ .Params.question }}</a>
        </li>
      {{ end }}
    </ul>
  </div>

  <div id="faq-body">
    {{ range sort $pages ".Params.weight" }}
      <h3 id="{{ .File.TranslationBaseName }}">
        {{ .Params.question }}
      </h3>
      {{ .Content }}
    {{ end }}
  </div>

  <div id="back-to-faq-top" class="hidden">
    <a href="#faq-top">{{ i18n "backToQuestions" }}</a>
  </div>

</div>
