<div id="faq">
  <div id="faq-top"></div>
  <h2>{{ i18n "FrequentlyAskedQuestions" }}</h2>
  <div class="anchors">
    <ul>
      {{ range sort $.Site.RegularPages ".Params.weight" (where $.Site.RegularPages "Section" "faqs") }}
        {{ if (eq .Type "faqs") }}
          <li>
            <a href="#{{ .File.TranslationBaseName }}">{{ .Params.question }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>

  <div id="faq-body">
    {{ range sort $.Site.RegularPages ".Params.weight" (where $.Site.RegularPages "Section" "faqs") }}
      {{ if (eq .Type "faqs") }}
        <h3 id="{{ .File.TranslationBaseName }}" >
          <a href="#{{ .File.TranslationBaseName }}">{{ .Params.question }}</a>
        </h3>
        {{ .Content | markdownify }}
      {{ end }}
    {{ end }}
  </div>

  <div id="back-to-faq-top" class="hidden">
    <a href="#faq-top">{{ i18n "backToQuestions" }}</a>
  </div>
</div>
