<div id="faq">

  <div id="faq-top"></div>

  <h2>{{ i18n "FrequentlyAskedQuestions" }}</h2>

  {{- $pages := (where $.Site.RegularPages "Section" "faqs") }}
  {{- $pages = $pages | lang.Merge (where .Sites.First.Pages "Section" "faqs") }}
  {{- $pages := $pages | intersect (where $pages "Params.question" "!=" nil) }}
  {{- $categories := .Site.Data.faq.categories }}
  {{- $faqGroups := dict }}

  {{- range $categories }}
    {{- $category := . }}
    {{- $categoryPages := sort (where $pages "Params.category" "==" $category) ".Params.weight" }}
    {{- if gt (len $categoryPages) 0 }}
      {{- $faqGroups = merge $faqGroups (dict $category $categoryPages) }}
    {{- end }}
  {{- end }}

  <div class="anchors">
    {{ range $categories }}
      {{ if index $faqGroups . }}
        <h4>{{ i18n . }}</h4>
        <ul>
          {{ range index $faqGroups . }}
            <li>
              <a href="#{{ .File.TranslationBaseName }}">{{ .Params.question }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  </div>

  <div id="faq-body">
    {{ range $categories }}
      {{ $category := . }}
      {{ if index $faqGroups $category }}
        <h3 class="category-subheading">{{ i18n $category }}</h3>
        {{ range index $faqGroups $category }}
          <h3 id="{{ .File.TranslationBaseName }}">
            {{ .Params.question }}
          </h3>
          {{ .Content }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>

  <div id="back-to-faq-top" class="hidden">
    <a href="#faq-top">{{ i18n "backToQuestions" }}</a>
  </div>

</div>
