<footer>
  <div class="footer-inner">
    <a class="logo" href="https://eff.org">
      <span>Electronic Frontier Foundation</span>
    </a>

    <nav>
      <ul>
        <li>
          <a href="https://eff.org/copyright">Copyright (CC BY)</a>
        </li>
        <li>
          <a href="https://eff.org/pages/trademark-and-brand-usage-policy">Trademark</a>
        </li>
        <li>
          <a href="https://eff.org/policy">Privacy Policy</a>
        </li>
        <li>
          <a href="https://eff.org/thanks">Thanks</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
