<nav id="primary-nav">
  <a class="logo" href="https://www.eff.org/">
    <span>Electronic Frontier Foundation</a>
  </a>

  <ul>
    <li>
      <a href="https://www.eff.org/about">{{ i18n "about" }}</a>
    </li>
    <li>
      <a href="https://www.eff.org/work">{{ i18n "issues" }}</a>
    </li>
    <li>
      <a href="https://www.eff.org/updates">{{ i18n "ourWork" }}</a>
    </li>
    <li>
      <a href="https://act.eff.org">{{ i18n "takeAction" }}</a>
    </li>
    <li>
      <a href="https://www.eff.org/tools">{{ i18n "tools" }}</a>
    </li>
    <li>
      <a href="https://supporters.eff.org/donate/support-privacy-badger">{{ i18n "donate" }}</a>
    </li>
  </ul>
</nav>
<header>
  <h1>Privacy Badger</h1>
</header>
