<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <link rel="shortcut icon" href="https://www.eff.org/sites/all/themes/frontier/favicon.ico" type="image/vnd.microsoft.icon">

  <title>
    {{ .Site.Title }}
  </title>

  {{ $styles := resources.Get "sass/application.scss" | toCSS | postCSS (dict "config" "postcss.config.js") }}
  <link rel="stylesheet" type="text/css" href="{{ $styles.RelPermalink }}" />

  {{ $jQuery := resources.Get "js/vendor/jquery.min.js" }}
  {{ $download := resources.Get "js/download.js" }}
  {{ $faq := resources.Get "js/faq.js" }}
  {{ $links := resources.Get "js/hash-remap.js" }}
  {{ $processedLinks := $links | resources.ExecuteAsTemplate "/js/hash-remap.js" . }}
  {{ $js := slice $jQuery $download $faq $processedLinks | resources.Concat "application.js" }}
  <script src="{{ $js.RelPermalink }}"></script>

  {{ $ogImage := printf "%s%s" .Site.BaseURL "/images/banner.png" }}
  <meta property="og:site_name" content="Electronic Frontier Foundation" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Privacy Badger" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ $ogImage}} " />
  <meta property="og:image:url" content="{{ $ogImage }}" />
  <meta property="og:image:secure_url" content="{{ $ogImage }}" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="600" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@eff" />
  <meta name="twitter:title" content="Privacy Badger" />
  <meta name="twitter:image" content="{{ $ogImage }}" />
  <meta name="twitter:image:width" content="1200" />
  <meta name="twitter:image:height" content="600" />
</head>
